<nav class="navbar">
  <div class="heading">
    <a href="/dashboard">Placement Cell</a>
  </div>
  <div class="user">
    <img src="/images/man.png" alt="user icon" class="user-icon" />
    <span class="nav-text"><%- user.first_name%></span>
  </div>
  <div class="signout">
    <a href="/user/sign-out" class="nav-text">Sign-out?</a>
  </div>
</nav>
